src/main/resources/HelloService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.cxf.acme.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloService" targetNamespace="http://api.cxf.acme.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://api.cxf.acme.com/" elementFormDefault="unqualified" targetNamespace="http://api.cxf.acme.com/" version="1.0">

            <xs:element name="FindPerson" type="tns:FindPerson"/>

            <xs:element name="FindPersonResponse" type="tns:FindPersonResponse"/>

            <xs:element name="Person" type="tns:person"/>

            <xs:element name="SayHello" type="tns:SayHello"/>

            <xs:element name="SayHelloResponse" type="tns:SayHelloResponse"/>

            <xs:complexType name="FindPerson">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="FindPersonResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="person" type="tns:person"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="person">
                <xs:sequence>
                    <xs:element form="qualified" name="age" type="xs:int"/>
                    <xs:element form="qualified" minOccurs="0" name="id" type="xs:string"/>
                    <xs:element form="qualified" minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SayHello">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SayHelloResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="greeting" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="FindPerson">
        <wsdl:part element="tns:FindPerson" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindPersonResponse">
        <wsdl:part element="tns:FindPersonResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SayHello">
        <wsdl:part element="tns:SayHello" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SayHelloResponse">
        <wsdl:part element="tns:SayHelloResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloService">
        <wsdl:operation name="FindPerson">
            <wsdl:input message="tns:FindPerson" name="FindPerson">
            </wsdl:input>
            <wsdl:output message="tns:FindPersonResponse" name="FindPersonResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SayHello">
            <wsdl:input message="tns:SayHello" name="SayHello">
            </wsdl:input>
            <wsdl:output message="tns:SayHelloResponse" name="SayHelloResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloServiceSoapBinding" type="tns:HelloService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FindPerson">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="FindPerson">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="FindPersonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SayHello">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="SayHello">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SayHelloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloService">
        <wsdl:port binding="tns:HelloServiceSoapBinding" name="HelloServicePort">
            <soap:address location="http://localhost:8080/services/hello"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>